.bg-dark{
    background-color: #cc8800!important;
}

.hero {
	background-image: url("../img/leaves.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}

.hero-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	height: 89vh;
}

.hero-content {
    position: absolute;
    flex-direction: column;
}

.display-4 {
    font-family: 'Fredericka the Great', serif;
}
h1 {
    color: white;
    font-weight: 700;
    text-align: center;
}
p {
    color: white;
}

.work {
    text-align: center;
    margin-top: 3%;
    font-family: 'Fredericka the Great', serif;
    margin-bottom: 5%;
}

.work-section {
    display: flex;
    flex-wrap: wrap;
}

#lightgallery a img{
    max-width: 100%;
}

.photography h2, .web-development h2, .illustration h2 {
   font-size: 24px;
}

.photography img, .web-development img, .illustration img {
    width: inherit;
    padding: 0px;
    max-width: 100%;
}

h2 {
    color: rgb(75, 75, 75);
    text-align: center;
    font-family: 'Fredericka the Great', serif;
}

a h2 {
    text-decoration: none;
    color: rgb(75, 75, 75);
    text-align: center;
    font-family: 'Fredericka the Great', serif;
}

a:hover {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

.dark {
    color: rgb(75, 75, 75); 
}

.tiny {
    font-size: 12px;
}

footer {
    padding-top: 130px;
    text-align: center;
    font-size: 12px;
}

footer a p {
    color: #cc8800;
}

.social-links a i {
    font-size: 24px; 
    margin-left: 10px; 
    margin-bottom: 15px;
}

.fab{
    color: #cc8800;
}

.fab:hover {
    color: lightcoral;
    transform: scale(1.3);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button a {
    border: 2px solid darkgoldenrod;
    padding: 10px;
    text-align: center;
    color: darkgoldenrod;
    letter-spacing: 2.5px; 
}


/* photography page */

.photo-section {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  
}

.photo-box {
    object-fit: cover;
}

.photo-img {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 3%;
	flex-wrap: wrap;
}


@media only screen and (max-width: 370px) {
    .hero-content .display-4 {
        font-size: 2.5rem;
    }
    .hero-content p {
        padding-left: 29px;
    }
  }

  @media (max-width: 767px) {
    .order-0 {
        order: 0;
    }

    .order-1 {
        order: 1;
    }
  }

  @media (min-width: 768px) {
    .order-0 {
        order: 1;
    }

    .order-1 {
        order: 0;
    }
  }

  
